Repository COW-dev/ddingdong-fe, pull requests merged in 2024-02, with the labels that each got.

#108 필터 기능 리팩토링
  src/components/home/FilterCategory.tsx
  src/components/modal/FilterOption.tsx
  src/components/modal/filter/Category.tsx
  src/components/modal/filter/RecruitStatus.tsx
  src/components/modal/filter/Sort.tsx
  src/pages/index.tsx
Labels: ✨ 기능, 🛠️ 리팩토링

#113 refactor: 캐러셀 리팩토링
  components.json
  package-lock.json
  package.json
  src/components/common/Banner.tsx
  src/components/common/Slider.tsx
  src/components/ui/button.tsx
  src/components/ui/carousel.tsx
  src/components/ui/utils.ts
  src/styles/globals.css
  tailwind.config.ts
Labels: 🛠️ 리팩토링

#112 refactor: modal 수정
  src/components/common/Modal.tsx
  src/components/report/detail/index.tsx
  src/pages/admin/banner/index.tsx
  src/types/index.ts
Labels: 🛠️ 리팩토링

#120 feat : 어드민 이벤트 응모 내역 확인
  package-lock.json
  src/apis/index.ts
  src/components/event/EventCard.tsx
  src/components/layout/AdminHeader.tsx
  src/hooks/api/event/useAllAppliers.tsx
  src/hooks/api/event/useApplier.tsx
  src/middleware.ts
  src/pages/admin/event/[id]/index.tsx
  src/pages/admin/event/index.tsx
  src/styles/globals.css
  src/types/event.ts
Labels: ✨ 기능
