Repository COW-dev/ddingdong-fe, pull requests merged in 2024-11, with the labels that each got.

#189 동아리 로고/소개 이미지 presigndUrl 적용
  next.config.js
  package-lock.json
  package.json
  src/apis/index.ts
  src/components/admin-club/AdminClubHeading.tsx
  src/components/admin/AdminHeading.tsx
  src/components/club/ClubHeading.tsx
  src/components/club/ClubInfo.tsx
  src/components/common/UploadImage.tsx
  src/components/loading/Loading.tsx
  src/components/loading/loading.json
  src/components/modal/report/Paticipants.tsx
  src/hooks/api/club/useMyClub.ts
  src/hooks/api/club/useUpdateMyClub.ts
  src/hooks/api/member/useClubMembers.ts
  src/hooks/common/usePresigndUrl.tsx
  src/pages/admin/club/index.tsx
  src/pages/admin/my-club/index.tsx
  src/pages/club/[id]/index.tsx
  src/types/club.ts
  src/types/index.ts
Labels: ✨ 기능

#193 자료실 presigndUrl 적용
  src/apis/index.ts
  src/components/admin-club/AdminClubHeading.tsx
  src/components/common/UploadImage.tsx
  src/components/common/UploadMultipleFiles.tsx
  src/components/documents/DocumentList.tsx
  src/components/modal/DocumentModal.tsx
  src/components/modal/documents/DocumentDownload.tsx
  src/hooks/api/document/useAllDocuments.ts
  src/hooks/api/document/useDocumentInfo.ts
  src/hooks/api/document/useNewDocument.ts
  src/hooks/common/usePresigndUrl.tsx
  src/pages/admin/index.tsx
  src/pages/admin/my-club/index.tsx
  src/types/document.ts
Labels: ✨ 기능

#194 활동보고서 presignedUrl 적용
  src/apis/index.ts
  src/components/common/UploadImage.tsx
  src/components/report/Form.tsx
  src/components/report/ReportEdit.tsx
  src/components/report/ReportItem.tsx
  src/components/report/ReportList.tsx
  src/components/report/detail/Report.tsx
  src/components/report/detail/ResponsiveInfo.tsx
  src/hooks/api/club/useNewReport.ts
  src/hooks/api/club/useUpdateReports.ts
  src/hooks/common/useReport.tsx
  src/pages/admin/member/index.tsx
  src/pages/admin/report/[term]/[name]/fix/index.tsx
  src/pages/admin/report/[term]/[name]/index.tsx
  src/pages/admin/report/[term]/new/index.tsx
  src/types/report.ts
  src/utils/parse.ts
Labels: ✨ 기능

#197 할로윈 로고/색상 제거
  public/halloweenLogo.png
  public/m_halloweenLogo.png
  public/m_logo.png
  src/assets/miniLogo.svg
  src/components/common/Drawer.tsx
  src/components/feed/Tabs.tsx
  src/components/home/FilterCategory.tsx
  src/components/layout/AdminHeader.tsx
  src/components/layout/UserHeader.tsx
  src/components/modal/FilterOption.tsx
  tailwind.config.js
Labels: ⚛️ 프론트엔드

#199 자료실 전체 조회 offset 기반 페이지네이션 적용
  package-lock.json
  package.json
  src/apis/index.ts
  src/components/common/PagiNation.tsx
  src/components/documents/DocumentList.tsx
  src/components/ui/button.tsx
  src/components/ui/pagination.tsx
  src/hooks/api/document/useAllDocuments.ts
  src/types/document.ts
Labels: ⚛️ 프론트엔드, ✨ 기능
